
name: tpchgen-publish-crates.yml

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      # Publish package one by one instead of flooding the registry
      max-parallel: 1
      matrix:
        # Order here is sensitive, as it will be used to determine the order of publishing
        package:
          - "tpchgen"
          - "tpchgen-arrow"
          - "tpchgen-cli"
    steps:
      - uses: actions/checkout@v5

      - name: Publish ${{ matrix.package }}
        working-directory: ${{ matrix.package }}
        run: cargo publish --all-features
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
